.title {
  border-bottom: solid;
}

.main {
  margin-top: 0px;
  background-color: bisque;
  height: 400px;
}

h2 {
  margin-top: 0;
}

.header {
  border-style: solid;
  border-width: 1px;
  background-color: aquamarine;
  margin: 0;
}


.footer {
  border-style: solid;
  border-width: 1px;
  background-color: aquamarine;
  height: 70px;

}